<div class="container text-center mt-5 mb-5">
    <h4 class="pt-5 pb-2 mt-5">We work as a family!</h4>
    <p class="pb-2 font-regular">Meet our pillars of strength. <br /> The team which puts their heart and soul in making the events happen.
    </p>
    <div class="row justify-content-center">
        <div class="col-md 12 text-center">
            <div class="material-border">
                <div *ngIf="team.length > 0" class="row justify-content-center">
                    <div *ngFor="let member of team" class="col-md-3">
                        <img *ngIf="member.image && member.image !== ''" class="m-2 round-120" [src]='member.image' />
                        <img *ngIf="!member.image || member.image === ''" class="m-2 round-120" src="assets/icons/placeholder.svg" />
                        <h4 class="pb-0 mb-0 font-regular">{{member.name}}</h4>
                        <p class="pb-0 mb-1 font-regular color-333333">{{member.role}}</p>
                        <div class="mb-5">
                            <a *ngIf="member.twitter" target="_blank" href="{{member.twitter}}"><i style="color: rgb(29, 161, 242); margin-left: 0px" nz-icon [nzTheme]="'fill'" [nzType]="'twitter-circle'"></i></a>
                            <a *ngIf="member.linkedin" target="_blank" href="{{member.linkedin}}"><i style="color: rgb(0, 119, 181); margin-right: 4px; margin-left: 4px" nz-icon [nzTheme]="'fill'" [nzType]="'linkedin'"></i></a>
                            <a *ngIf="member.github" target="_blank" href="{{member.github}}"><i style="color: #333; margin-right: 4px; margin-left: 4px" nz-icon [nzType]="'github'"></i></a>
                            <a *ngIf="member.link" target="_blank" href="{{member.link}}"><i style="color: #333; margin-left: 0px" nz-icon [nzType]="'link'"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
